<nav class="navbar navbar-dark navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav" style="background: #ad4406;padding-bottom: 58px;padding-top: 74px;margin-bottom: 10px;">
    <div class="container"><code id="logo" class="logo" style="background: url(&quot;assets/img/NK%20studios%20black.png&quot;) center / cover no-repeat;padding-right: 0px;margin-bottom: -57px;margin-top: -62px;font-size: 20px;padding-top: 37px;padding-bottom: 30px;padding-left: 161px;margin-left: -4px;margin-right: -6px;"></code><a class="navbar-brand d-flex align-items-center" href="/"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse fw-semibold text-center" id="navcol-1" style="font-size: 20px;">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link active" href="?p=index" style="transition: 1s;color: var(--bs-body-color);font-family: Abel, sans-serif;text-align: center;padding: 10px;">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="?p=servicos" style="transition: 1s;color: var(--bs-body-color);font-family: Abel, sans-serif;text-align: center;padding: 10px;">Serviços</a></li>
                <li class="nav-item"><a class="nav-link" href="?p=galeria" style="transition: 1s;color: var(--bs-body-color);font-family: Abel, sans-serif;text-align: center;padding: 10px;">Galeria</a></li>
                <li class="nav-item"><a class="nav-link" href="?p=preco" style="color: var(--bs-body-color);font-family: Abel, sans-serif;text-align: center;padding: 10px;">Preços</a></li>
                <li class="nav-item"><a class="nav-link" href="?p=contacto" style="transition: 1s;color: var(--bs-body-color);font-family: Abel, sans-serif;text-align: center;padding: 10px;">Contactos</a></li>
            </ul><a class="btn btn-primary shadow" role="button" href="?p=login" style="color: var(--bs-body-color);background: rgb(39,38,46);font-family: Abel, sans-serif;">Login</a>
        </div>
    </div>
</nav>
