
    <section class="photo-gallery py-4 py-xl-5" style="margin-bottom: -46px;">
        <div class="container-fluid p-0">
            <div class="row gx-1 gy-1 row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 d-flex flex-row justify-content-between align-items-center photos" data-bss-baguettebox="" style="margin-top: -48px;padding-bottom: 0px;margin-bottom: -22px;">
                <div class="col item"><a href="assets/img/5%20(25).jpg"><img class="img-fluid" src="assets/img/5%20(25).jpg"></a></div>
                <div class="col item"><a href="assets/img/5%20(30).jpg"><img class="img-fluid d-xl-flex align-items-xl-end" src="assets/img/5%20(30).jpg"></a></div>
                <div class="col item"><a href="assets/img/7%20(12).jpg"><img class="img-fluid" src="assets/img/7%20(12).jpg"></a></div>
                <div class="col item"><a><img class="img-fluid" src="assets/img/4%20(4).jpg"><img class="img-fluid" src="assets/img/6%20(11).jpg"></a><img class="img-fluid" src="assets/img/9%20(9).jpg"></div>
                <div class="col-xl-4 offset-xl-0 item"><a href="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"></a><img class="img-fluid" src="assets/img/9%20(13).jpg"><img class="img-fluid" src="assets/img/11%20(4).jpg"><img class="img-fluid" src="assets/img/10%20(8).jpg"></div>
                <div class="col item"><a><img class="img-fluid" src="assets/img/6%20(10).jpg"></a><img class="img-fluid" src="assets/img/9%20(18).jpg"><img class="img-fluid" src="assets/img/9%20(17).jpg"></div>
            </div>
        </div>
    </section>
    <section class="py-5" style="margin-bottom: -73px;"></section>
