
    <section class="py-5" style="padding-top: 107px;margin-top: -40px;padding-bottom: 16px;margin-bottom: -137px;">
        <div class="container py-5" style="padding-top: 86px;margin-top: -42px;margin-bottom: 3px;">
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                <div class="col mb-5" style="box-shadow: 0px 5px 5px 1px rgb(173,68,6);"><img class="rounded img-fluid shadow" src="assets/img/products/IMG_1640.jpg" style="border-radius: 10px;border-style: hidden;box-shadow: 0px 5px 3px rgb(173,68,6);"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5" style="border-radius: 10px;border-style: hidden;box-shadow: 0px 5px 3px rgb(173,68,6);">
                    <div style="height: 162.2px;margin: 12px 0px;">
                        <h5 class="fw-bold text-center" style="margin-top: -21px;">SERVIÇOS FOTOGRAFICOS&nbsp;</h5>
                        <ul class="list-unstyled" style="text-align: center;">
                            <li><strong>&nbsp; &nbsp; &nbsp; &nbsp;COBERTURA DE EVENTOS</strong></li>
                            <li><strong>&nbsp; &nbsp;FOTOS COPRORATIVAS</strong><br></li>
                            <li><strong>SESSÃO EM ESTÚDIO</strong></li>
                            <li></li>
                        </ul><a class="btn btn-primary shadow" role="button" style="width: 120.5px;height: 38.4px;padding-left: 19px;padding-right: 21px;padding-bottom: 4px;padding-top: 5px;" href="preco.html">Ver Preço</a><button class="btn btn-primary shadow" type="button" style="width: 120.5px;height: 38.4px;padding-left: 19px;padding-right: 21px;padding-bottom: 4px;padding-top: 5px;margin: 0px 14px;">Agendar</button>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                <div class="col mb-5" style="border-style: hidden;border-radius: 10px;padding-left: 2px;padding-right: 0px;box-shadow: 0px 5px 1px rgb(173,68,6);"><img class="rounded img-fluid shadow" src="assets/img/products/IMG_1260.jpg" width="426" height="320" style="margin-left: 3px;border-style: hidden;border-radius: 10px;box-shadow: 0px 5px 1px rgb(173,68,6);"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5" style="margin-top: 2px;border-style: hidden;border-radius: 10px;box-shadow: 0px 5px 1px rgb(173,68,6);">
                    <div style="padding-top: 0px;margin: 5px 0px 29px;margin-top: 6px;">
                        <h5 class="fw-bold">GRAVAÇÃO DE VÍDEOS</h5>
                        <ul class="list-unstyled" style="text-align: center;">
                            <li><strong>&nbsp; &nbsp; &nbsp; &nbsp;COBERTURA DE EVENTOS</strong></li>
                            <li><strong>&nbsp; &nbsp;FOTOS COPRORATIVAS</strong><br></li>
                            <li><strong>SESSÃO EM ESTÚDIO</strong></li>
                            <li></li>
                        </ul><a class="btn btn-primary shadow" role="button" style="width: 127.5px;height: 39.4px;padding-left: 19px;padding-right: 21px;padding-bottom: 4px;padding-top: 5px;margin: 0px 14px;margin-right: 16px;margin-left: 17px;" href="preco.html">Ver Preços</a><button class="btn btn-primary shadow" type="button" style="width: 120.5px;height: 38.4px;padding-left: 19px;padding-right: 21px;padding-bottom: 4px;padding-top: 5px;margin: 0px 14px;margin-right: 4px;margin-left: 2px;">Agendar</button>
                    </div>
                </div>
            </div>
            <div class="row gx-0 gy-0 row-cols-1 row-cols-md-2 justify-content-center align-items-stretch mx-auto" style="max-width: 900px;box-shadow: 0px 0px;border-radius: 10px;">
                <div class="col mb-5" style="box-shadow: 0px 5px 2px rgb(173,68,6);border-radius: 10px;"><img class="rounded img-fluid shadow" src="assets/img/products/IMG_0677.webp" style="box-shadow: 0px 0px;"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5" style="box-shadow: 0px 5px 2px rgb(173,68,6);border-radius: 10px;padding-left: 3px;">
                    <div style="padding-top: 0px;margin: 5px 0px 29px;margin-top: 6px;">
                        <h5 class="fw-bold">DESENVOLVIMENTO WEB E FLAYERS</h5>
                        <ul class="list-unstyled" style="text-align: center;">
                            <li style="padding-right: 107px;"><strong>WEBSITES</strong></li>
                            <li style="padding-right: 83px;"><strong>PORTFÓLIOS</strong><br></li>
                            <li style="padding-left: 0px;padding-right: 80px;"><strong>CREDENCIAIS</strong><br></li>
                            <li style="padding-left: 11px;"><strong>FLAYERS PUBLICITÁRIOS</strong></li>
                            <li></li>
                        </ul><a class="btn btn-primary shadow" role="button" style="width: 128.5px;height: 38.4px;padding-left: 19px;padding-right: 21px;padding-bottom: 4px;padding-top: 5px;margin: 0px 14px;" href="preco.html">Ver Preços</a><button class="btn btn-primary shadow" type="button" style="width: 120.5px;height: 38.4px;padding-left: 19px;padding-right: 21px;padding-bottom: 4px;padding-top: 5px;margin: 0px 14px;">Agendar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5" style="margin-top: -44px;"></section>